body {
    background-attachment: fixed;
    font-family: 'Afacad';
}

html, body {
    overflow-x: hidden;
	height: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    background: #EF4444;
}

.footer {
    background: #1E3A8A;
    color: #FFFFFF !important;
}

.footer a {
    color: #FFFFFF !important;
}

.btn-custom {
    background: #EF4444;
    color: #FFFFFF;
}

.btn-custom:hover {
    background: #FFFFFF;
    color: #000000;
}

.btn-custom2 {
    background: #FFFFFF;
    color: #EF4444;
}

.btn-custom2:hover {
    background: #FFFFFF;
    color: #000000;
}

.btn-custom3 {
    background: #EF4444;
    color: #FFFFFF;
}

.btn-custom3:hover {
    background: #DC2626;
    color: #FFFFFF;
}

.btn-custom4 {
    background: #1E3A8A;
    color: #FFFFFF;
}

.btn-custom4:hover {
    background: #00043D;
    color: #FFFFFF;
}

.card {
    max-width: 500px;
}

.carousel-item img {
    height: 900px; /* Ajuste conforme necessário */
    object-fit: cover; /* Garante que a imagem cubra a área sem distorção */
}

.hover-effect {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
}
.hover-effect:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 30px;
    color: #ddd;
    cursor: pointer;
    transition: color 0.3s;
}

.rating input:checked ~ label {
    color: gold;
}